<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mytitle }}</title>
    {% if cssfiles %}
        {% for css in cssfiles %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/' + css)}}">
        {% endfor %}    
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    {% endif %}
</head>
<body>
    {% block pagebody %}
    {% endblock %}
</body>
</html>